# Importing Libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import csv
from tqdm import tqdm
import pandas as pd
from datetime import datetime
import re

In [2]:
links = []
titles = []

In [3]:
url = "https://english.jagran.com"

# Scraping Link and Title

In [4]:
def scrape(Link):
    req = requests.get(Link)
    #print(Link)
    soup = BeautifulSoup(req.text, "html.parser")
    
    file = soup.find_all('ul', class_ = 'topicList')
    
    for content in file:
        Links_new = content.find_all('a', href =True)
        
    for link in Links_new:
        dum = url + link['href']
        #print(dum)
        links.append(dum)
        titles.append(link.find('div', class_ = 'h3').text)

In [5]:
#page_url == url+'/entertainment-page'+str(p)'/entertainment/bollywood'
for p in tqdm(range (1,175)):
    if p == 1:
       
        page_url = url + '/business'
        scrape(page_url )
    else:                     
        page_url = url+'/business-page'+str(p)
        #print(page_url)
        scrape(page_url)
        #print(p)

100%|██████████| 174/174 [00:52<00:00,  3.29it/s]

In [6]:
print(len(links),len(titles))

1686 1686

# Getting Page Number

In [ ]:
import re
Page = []
for i in tqdm(links):
    regex = r"\d+"
    x = re.search(regex, i)
    y = str(x[0])
    Page.append(y)
print(len(Page))

100%|██████████| 8853/8853 [00:00<00:00, 235537.01it/s]

8853

# Putting Scraped Data into DataFrame

In [7]:
df=pd.DataFrame(links,columns=["link"])

df["title"]=titles

In [8]:
print(len(links))

1686

In [9]:
df.to_csv('f110_english_business.csv', encoding = 'utf-16', mode = 'w', index = False)

# Scraping Dates

In [10]:
dates = list()
for i in tqdm(range(0,len(links))):
    req = requests.get(links[i])
    soup = BeautifulSoup(req.text, "html.parser")
    data = soup.find('span',class_="fl").text
    dates.append(data)
   # return data

100%|██████████| 1686/1686 [07:32<00:00,  3.72it/s]

In [11]:
print(dates[3682])

IndexError: list index out of range

In [21]:
links[195]

IndexError: string index out of range

In [11]:
print(len(dates))

1686

In [12]:
"""for j in range(0,10):
  temp = dates[j].split(' ')
  #print(temp)
  if (temp[0] == 'Publish'):
    print(temp[4])
    print(temp[5])
    holder = temp[5]+"-"+ temp[4]+"-"+temp[3]+" " + temp[6]
    print(holder)
  
  else:
    print(temp[3])
    print(temp[4])
    holder = temp[4]+"-"+ temp[3]+"-"+temp[2]+" " + temp[5]
    print(holder)"""

'for j in range(0,10):\n  temp = dates[j].split(\' \')\n  #print(temp)\n  if (temp[0] == \'Publish\'):\n    print(temp[4])\n    print(temp[5])\n    holder = temp[5]+"-"+ temp[4]+"-"+temp[3]+" " + temp[6]\n    print(holder)\n  \n  else:\n    print(temp[3])\n    print(temp[4])\n    holder = temp[4]+"-"+ temp[3]+"-"+temp[2]+" " + temp[5]\n    print(holder)'

# Getting Date Month & Year

In [12]:
year = []
month = []
date = [] #yyyy-mm-dd nd time
for j in tqdm(dates):
    temp = j.split(' ')
    #print(temp)
    if (temp[0] == 'Publish'):
        month.append(temp[4])
        year.append(temp[5])
        holder = temp[5]+"-"+ temp[4]+"-"+temp[3]+" " + temp[6]
        date.append(holder)

  
    else:
        month.append(temp[3])
        year.append(temp[4])
        holder = temp[4]+"-"+ temp[3]+"-"+temp[2]+" " + temp[5]
        date.append(holder)

100%|██████████| 1686/1686 [00:00<00:00, 870564.64it/s]

In [13]:
df["Year"] = year
df["Month"] = month
df["date"] = date

In [14]:
df.to_csv('f110_english_business_date.csv', encoding = 'utf-16', mode = 'a', index = False)

#Saving Scraped Data

In [19]:
#s = pd.read_csv('f110_english_cricket.csv')

# Accessing File for Content Scraping

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [15]:
data = pd.read_csv('/home/test/Jagran-Josh/business/english/f110_english_business_date.csv', encoding = 'utf-16')
data

,link,title,Year,Month,date
0,https://english.jagran.com/business/bank-holid...,Bank Holidays May 2021: Govt and private banks...,2021,Apr,2021-Apr-27 04:57
1,https://english.jagran.com/business/jagdish-kh...,"Jagdish Khattar, former Maruti Suzuki managing...",2021,Apr,2021-Apr-26 03:02
2,https://english.jagran.com/business/amid-short...,"Amid shortage of oxygen, Google CEO Sundar Pic...",2021,Apr,2021-Apr-26 11:30
3,https://english.jagran.com/business/irdai-clar...,IRDAI clarifies on cashless claims in COVID-19...,2021,Apr,2021-Apr-22 11:14
4,https://english.jagran.com/business/stock-mark...,"Sensex drops by 1,300, Nifty slips to 14,200 a...",2021,Apr,2021-Apr-19 10:13
...,...,...,...,...,...
1681,https://english.jagran.com/business/india-to-h...,India to hold next round of negotiations for t...,2019,May,2019-May-01 04:44
1682,https://english.jagran.com/business/trump-agai...,"Trump again goes after India on trade, says it...",2019,Apr,2019-Apr-29 06:17
1683,https://english.jagran.com/business/pharmaceut...,Pharmaceutical exports rise 11 pc to $19.2 bn ...,2019,Apr,2019-Apr-23 03:59
1684,https://english.jagran.com/business/spicejet-e...,"SpiceJet, Emirates sign MoU for codeshare part...",2019,Apr,2019-Apr-22 01:06
1685,https://english.jagran.com/business/airlines-b...,Airlines body IATA suspends the grounded Jet A...,2019,Apr,2019-Apr-19 03:34

In [16]:
all_urls = []
for i in range(0,len(data["link"])):
    all_urls.append(data["link"][i])

In [17]:
print(len(all_urls))

1686


# Scraping Content with MultiProcess

 We extract data here and we append "~" to the end of each sentence, So that we can easily spilt the data.

In [18]:
from multiprocessing import Pool

def scrapey(url):
    try:
        markup_string = requests.get(url)
        content = []          
        soup = BeautifulSoup(markup_string.text, "html.parser")
        title = soup.find('title').text
        title = title+"~"
        summary = soup.find_all('meta')[2]['content']
        summary = summary+"~"
        content_box = soup.find('div',{'id':'article-des'})
        p = content_box.find_all('p')[:-1:]
        for i in p:
            temp = i.text+"~"
            if(len(temp)>2):
                content.append(temp)
            else:
                continue
        myvar = [title,summary,content]
        #print(content)

    except Exception as ex:
        myvar.append("Missing")
        print(str(ex))
    finally:
        if len(myvar) > 0:
            return myvar
        else:
            return None

In [19]:
with Pool(100) as p:
    #r = list(tqdm.tqdm(p.imap(_foo, range(30)), total=30))
    records = list(tqdm(p.imap(scrapey, all_urls)))

1686it [00:17, 95.48it/s]

In [24]:
print(records[1685])

['Airlines body IATA suspends the grounded Jet Airways from clearing house membership~', 'IATA on Thursday suspended the grounded Jet Airways from the membership of its clearing house system ~', ['International airlines lobby IATA Thursday suspended the grounded Jet Airways from the membership of its clearing house system, a move that is likely to impact the refund process to passengers.~', 'The suspension of membership, which comes in the wake of the airline halting operations temporarily from last night, is with immediate effect, the International Air Transport Association (IATA) said that in a circular.~', '"Consequently, claims by and against Jet Airways will not be processed by the clearing house with effect from and period 02 of the April 2019 clearing month," the association said, adding, however, those claims already submitted for clearance are excluded.\xa0~']]

In [25]:
data['content'] = records
data.to_csv('f110_english_business_content.csv', encoding = 'utf-16')

# Putting Extracted Content into a file

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
path = pd.read_csv('/home/test/Jagran-Josh/business/english/f110_english_business_content.csv', encoding = 'utf-16')
path.head()

,Unnamed: 0,link,title,Year,Month,date,content
0,0,https://english.jagran.com/business/bank-holid...,Bank Holidays May 2021: Govt and private banks...,2021,Apr,2021-Apr-27 04:57,['Bank Holidays May 2021: Govt and private ban...
1,1,https://english.jagran.com/business/jagdish-kh...,"Jagdish Khattar, former Maruti Suzuki managing...",2021,Apr,2021-Apr-26 03:02,"['Jagdish Khattar, former Maruti Suzuki managi..."
2,2,https://english.jagran.com/business/amid-short...,"Amid shortage of oxygen, Google CEO Sundar Pic...",2021,Apr,2021-Apr-26 11:30,"['Amid shortage of oxygen, Google CEO Sundar P..."
3,3,https://english.jagran.com/business/irdai-clar...,IRDAI clarifies on cashless claims in COVID-19...,2021,Apr,2021-Apr-22 11:14,['IRDAI clarifies on cashless claims in COVID-...
4,4,https://english.jagran.com/business/stock-mark...,"Sensex drops by 1,300, Nifty slips to 14,200 a...",2021,Apr,2021-Apr-19 10:13,"['Sensex drops by 1,300, Nifty slips to 14,200..."

# Trail Run to write in a file

In [ ]:
import re
p_con = sample
ddd = str(p_con)
cont = ddd.replace(u'\\xa0', ' ')
# cont=re.sub("['\[\]\|\/\"]","",cont)
cont = re.sub("~[\'\"]","\n", cont)
k = [i.strip().strip(',]["\'').strip() for i in cont.split('\n')]
k = [i.strip(',]["\'') for i in k]

In [6]:
print(k)

['India registers over 1.26 lakh fresh COVID-19 infections, highest-ever single-day spike; active cases breach 9-lakh mark', 'India Coronavirus News  This is the highest single day spike India has ever recorded since the start of the coronavirus pandemic last year  India had reported over 1 15 lakh cases of coronavirus yesterday', 'New Delhi | Jagran News Desk: Showing continuous resurgence from the past few weeks, over 1.26 lakh COVID-19 cases were reported in India during the last 24 hours which took the total caseload in the country to near 1.30 crore. The death toll in the country also climbed up to nearly 1.67 lakh after 685 new fatalities were reported from the same span of time.', "According to the Union Health Ministry's data on Thursday morning, India recorded 1,26,789 fresh COVID-19 infections taking the coronavirus caseload in the country to 1,29,28,574, while 685 deaths during the day took the death toll to 1,66,862. The number of people who have recuperated from the disease surged to 1,18,51,393, while the case fatality rate has further dropped to 1.29 per cent.", 'This is the highest single-day spike India has ever recorded since the start of the coronavirus pandemic last year. This is also the third time when the country registered over 1 lakh cases in the last four days. India had reported over 1.15 lakh cases of coronavirus yesterday, while on Sunday, the country had reported over 1 lakh cases for the first time since the start of the pandemic last year.', "Registering a steady increase for the 29th day in a row, the number of active cases too went upwards to breach the nine lakh mark again with the count going up to 9,10,319, which is 7.04 per cent of the total infections, while the country's recovery rate has further dropped to 91.67 per cent.", 'The active COVID-19 caseload in the country was recorded at its lowest of 1,35,926 on February 12, comprising 1.25 per cent of the total infections.', 'The 685 new fatalities include 322 from Maharashtra, 62 from Punjab, 53 from Chhattisgarh, 40 from Uttar Pradesh, 35 from Karnataka, 22 from Gujarat, 20 from Delhi, 17 from Tamil Nadu, 16 from Kerala, 13 from Madhya Pradesh, 12 from Rajasthan and 11 each from Andhra Pradesh and Haryana.', 'Among the Indian states, Maharashtra continued to report a record number of daily cases. Maharashtra on Wednesday recorded the highest daily count of 59,907 coronavirus positive cases, taking the tally of infections to 31,73,261 while 322 fatalities pushed the toll to 56,652. Mumbai recorded 10,442 new cases and 24 deaths during the day, taking the overall caseload to 4,83,042 and the fatalities to 11,856.', 'Meanwhile, Delhi on Wednesday recorded 5,506 fresh COVID-19 cases, the sharpest daily spike this year, that pushed the infection tally to 6,90,568 while 20 more people succumbed to the disease, taking the death toll to 11,133. This is the second consecutive day when Delhi has seen a rise of over 5,000 cases. The city had reported 5,100 fresh cases on Tuesday.', '']

In [7]:
with open('finalpart_sample.text', mode = 'w') as f:
    for text in k:
        if(len(text) > 0):
            f.write(text + '\n')

In [27]:
print(len(path['link']))

1686

# Content Scraping Main

In [28]:
bad_chars = [';', ':', '!', '?', '|', '/', '"', '+', '<', '>', '.', "*"]

In [29]:
import os
import re
out_dir = "jagran_english_contents_business_final"
file_names = []
for count in tqdm(range(0,len(path['link']))):
    filename = ''.join(i for i in path['title'][count] if not i in bad_chars)
    if not os.path.exists(out_dir):
        os.makedirs(out_dir)
    if not os.path.exists(os.path.join(out_dir, f"{count}_{'_'.join(filename[:10].split())}.txt")):
        try:
            temp_name = f"{count}_{'_'.join(filename[:10].split())}.txt"
            file_names.append(temp_name)
            ddd = str(path['content'][count])
            cont = ddd.replace(u'\\xa0', ' ')
            # cont=re.sub("['\[\]\|\/\"]","",cont)
            cont = re.sub("~[\'\"]","\n", cont)
            k = [i.strip().strip(',]["\'').strip() for i in cont.split('\n')]
            k = [i.strip(',]["\'') for i in k]
            with open(os.path.join(out_dir, f"{count}_{'_'.join(filename[:10].split())}.txt"), mode="w", encoding="utf-8") as file_w:
                
                for text in k:
                    file_w.write(text + '\n')
        except Exception as ex:
            temp_name = f"{count}_{'_'.join(filename[:10].split())}.txt"
            file_names.append(temp_name)
            #data1.append(count)
            print(ex)

100%|██████████| 1686/1686 [00:00<00:00, 8896.11it/s]

## Dropping the old content

In [30]:
path = path.drop(columns=['content'])

In [31]:
path.head()

,Unnamed: 0,link,title,Year,Month,date
0,0,https://english.jagran.com/business/bank-holid...,Bank Holidays May 2021: Govt and private banks...,2021,Apr,2021-Apr-27 04:57
1,1,https://english.jagran.com/business/jagdish-kh...,"Jagdish Khattar, former Maruti Suzuki managing...",2021,Apr,2021-Apr-26 03:02
2,2,https://english.jagran.com/business/amid-short...,"Amid shortage of oxygen, Google CEO Sundar Pic...",2021,Apr,2021-Apr-26 11:30
3,3,https://english.jagran.com/business/irdai-clar...,IRDAI clarifies on cashless claims in COVID-19...,2021,Apr,2021-Apr-22 11:14
4,4,https://english.jagran.com/business/stock-mark...,"Sensex drops by 1,300, Nifty slips to 14,200 a...",2021,Apr,2021-Apr-19 10:13

## Appending the text file into the content

In [32]:
path['content'] = file_names

path.to_csv('f110_english_business_content_final.csv', mode='a', encoding = 'utf-16', index = False)

In [33]:
path.head()

,Unnamed: 0,link,title,Year,Month,date,content
0,0,https://english.jagran.com/business/bank-holid...,Bank Holidays May 2021: Govt and private banks...,2021,Apr,2021-Apr-27 04:57,0_Bank_Holid.txt
1,1,https://english.jagran.com/business/jagdish-kh...,"Jagdish Khattar, former Maruti Suzuki managing...",2021,Apr,2021-Apr-26 03:02,1_Jagdish_Kh.txt
2,2,https://english.jagran.com/business/amid-short...,"Amid shortage of oxygen, Google CEO Sundar Pic...",2021,Apr,2021-Apr-26 11:30,2_Amid_short.txt
3,3,https://english.jagran.com/business/irdai-clar...,IRDAI clarifies on cashless claims in COVID-19...,2021,Apr,2021-Apr-22 11:14,3_IRDAI_clar.txt
4,4,https://english.jagran.com/business/stock-mark...,"Sensex drops by 1,300, Nifty slips to 14,200 a...",2021,Apr,2021-Apr-19 10:13,4_Sensex_dro.txt

In [31]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/test/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [1]:
from retry import retry

In [33]:
pip install retry

Collecting retry
  Downloading retry-0.9.2-py2.py3-none-any.whl (8.0 kB)
Requirement already satisfied: decorator>=3.4.2 in /home/test/anaconda3/lib/python3.8/site-packages (from retry) (4.4.2)
Requirement already satisfied: py<2.0.0,>=1.4.26 in /home/test/anaconda3/lib/python3.8/site-packages (from retry) (1.9.0)
Installing collected packages: retry
Successfully installed retry-0.9.2
Note: you may need to restart the kernel to use updated packages.